* {
    margin: 0;
    padding: 0;
}

/* centered layout */
.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}
/* block */
li {
    list-style: none;
}
/* inline */
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }

  .clearfix:after {
    clear:both;
  }
  
  .clearfix {
     *zoom:1;
  }   

.header {
    height: 42px;
    /* overlap the .w above */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 195px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    /* inline element doesn't have width or height */
    display: block;
    height: 42px;
    /* even layout */
    padding: 0 5px;
    line-height: 42px;
    color: #050505;
    font-size: 18px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}
/* inline block */
.search input {
    float: left;/* remove the span between inline blocks */
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
/* inline block */
.search button {
    float: left;/* remove the span between inline blocks */
    width: 50px;
    height: 42px;
    border: none;
    background: url("images/btn.png");
}

.search input:focus {
    outline-color: #00a4ff;
}

.search button:focus {
    outline-color: #00a4ff;
}

.user {
    float: left;
    line-height: 40px;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}

.user > img {
    vertical-align: middle;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url("images/banner2.png") no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
/* a doesn't have height */
.subnav ul li a {
    color: #fff;
    font-size: 14px;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* child is float, there is no margin merged problem */
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    font-weight: 400;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    line-height: 60px;/* line-height could be inherited by children */
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}
/* li is a block element, padding will enlarge li */
.goods ul li {
    float: left;
}
/* a is an inline element, pdding won't enlarge a */
.goods ul li a {
    padding: 0 30px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.modify {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}

.box-hd a {
    float: right;
    margin-top: 10px;/* float, won't merge margin */
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.box-bd ul li em {
    position: absolute;
    top: 0;
    right: -4px;
}

.box-bd ul li > img {
    width: 100%;
    height: 151.66px;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.intro {
    margin-top: 30px;
    height: 436px;
}

.intro-hd {
    height: 45px;
}

.intro .intro-hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}

.intro .intro-hd ul {
    float: left;
    margin-left: 180px;
}

.intro-hd ul li {
    float: left;
}

.intro-hd ul li a {
    padding: 0 35px;
    color: #868686;
}

.intro-hd ul li a:hover {
    color: #00a4ff;
}

.intro .intro-hd > a {
    float: right;
    margin-top: 10px;/* float, won't merge margin */
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.intro-bd img {
    display: block;
}

.intro-bd .left {
    float: left;
    width: 228px;
    height: 395px;
}

.intro-bd .right {
    float: left;
    width: 972px;
    height: 395px;
}

.right .right-top {
    margin-left: 15px;
}

.right .right-bottom {
    width: 975px;
    height: 270px;
}

.right-bottom ul li {
    float: left;
    width: 227px;
    height: 270px;
    margin-left: 14px;
    margin-top: 22px;
    background-color: #fff;
}

.right-bottom ul li img {
    width: 227px;
    height: 151.66px;
}

.right-bottom ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.right-bottom .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.right-bottom .info span {
    color: #ff7c2d;
}


.ml {
    margin-top: 30px;
    height: 436px;
}

.ml-hd {
    height: 45px;
}

.ml .ml-hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}

.ml .ml-hd ul {
    float: left;
    margin-left: 250px;
}

.ml-hd ul li {
    float: left;
}

.ml-hd ul li a {
    padding: 0 35px;
    color: #868686;
}

.ml-hd ul li a:hover {
    color: #00a4ff;
}

.ml .ml-hd > a {
    float: right;
    margin-top: 10px;/* float, won't merge margin */
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.ml-bd img {
    display: block;
}

.ml-bd .left {
    float: left;
    width: 228px;
    height: 395px;
}

.ml-bd .ml-right {
    float: left;
    width: 972px;
    height: 395px;
}

.ml-right .ml-right-top {
    margin-left: 15px;
}

.ml-right .ml-right-bottom {
    width: 975px;
    height: 270px;
}

.ml-right-bottom ul li {
    float: left;
    width: 227px;
    height: 270px;
    margin-left: 14px;
    margin-top: 22px;
    background-color: #fff;
}

.ml-right-bottom ul li img {
    width: 227px;
    height: 151.66px;
}

.ml-right-bottom ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.ml-right-bottom .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.ml-right-bottom .info span {
    color: #ff7c2d;
}

.web {
    margin-top: 30px;
    height: 310px;
}

.web-hd {
    height: 45px;
}

.web-hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}

.web-hd ul {
    float: left;
    margin-left: 150px;
}

.web-hd ul li {
    float: left;
}

.web-hd ul li a {
    padding: 0 35px;
    color: #868686;
}

.web-hd ul li a:hover {
    color: #00a4ff;
}

.web-hd > a {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.web-bd {
    height: 270px;
}

.web-bd ul {
    width: 1225px;
}

.web-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    background-color: white;
}

.web-bd ul li img {
    width: 100%;
    height: 151.66px;
}

.web-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.web-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.web-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 420px;
    background-color: #fff;
}

.footer .w {
    margin-top: 40px;
    padding-top: 35px;
}

.copyright {
    float: left;
}

.copyright p {
    font-size: 12px;
    margin: 20px 0 17px 0;
    color: #666666;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    color: #00a4ff;
    font-size: 16px;
}

.links {
    float: right;
    margin-right: 30px;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.links dl dd a {
    font-size: 12px;
    color: #333;
}